html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 2;
    font-family: 'Libre Franklin', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
}

body{
    text-align: left;
    background-color: lightblue;
    font-size: 2rem;
}


.output{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    background-color: white;
    align-content: center;
    border: 5px solid black;
    width: 20%;
    height: auto;
    border-radius: 10%;
    margin: 5px auto;
    position: relative;
}
img {
    width: 80%;
  }

.remove{
    background-color:red;
    color:white;
padding: 6px 12px;
margin-bottom: 0;
font-size: 14px;
line-height: 1.42857143;
text-align: center;
white-space: nowrap;
vertical-align: middle;
cursor: pointer;
border: 1px solid transparent;
border-radius: 4px;
}