html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 62.5%:
}

body{
    text-align: left;
    background-color: palegoldenrod;
    font-size: 2rem;
}


#center{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    background-color: white;
    align-content: center;
    border: 5px solid black;
    width: 20%;
    height: auto;
    border-radius: 10%;
    margin: 5px auto;
    position: relative;
}
img {
    width: 85%;
  }